.searchBoxContainer {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition-property: top;
  transition-timing-function: ease-in;
  transition-duration: 500ms;
  z-index: 2;
}

.show {
  top: 0;
}
