.gridCell {
  padding: 1vw;
}

.gridCell div {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
}

.gridCell42 div {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
}
