#searchBoxContainer-hidden {
  display: none;
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: transparent;
  overflow: auto;
}

#searchBoxContainer-show {
  display: "";
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: transparent;
  overflow: auto;
}
