.border-rounded {
  border-radius: 2.5px;
}

.border-rounded-upper {
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
}

.border-rounded-lower {
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}
