#controlButtons {
  margin-top: 10px;
  margin-bottom: 10px;
}

#controlButtons button {
  font-size: 1em;
  font-weight: bold;
  font-size: 1em;
  border: none;
  background: #a9a9a9;
  border-radius: 3px;
  box-shadow: 1px 1px 2px;
}
