.App {
  text-align: center;
}

.topCon {
  background-color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100vw;
  display: block;
  /* gap: 1px; */
  /* align-items: center;
  justify-items: center; */
  /* grid-template-rows: repeat(3, "auto"); */
}

.row {
  /* display: block; */
  /* gap: 5px; */
  /* align-items: center;
  justify-items: center; */
  /* grid-template-columns: repeat(5, 18vw);
  grid-template-rows: 1fr; */
}

#row6 {
  display: 'none';
}

.row-6 {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(6, 15vw);
  grid-template-rows: 1fr 1fr;
}

.row-10 {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: 1fr 1fr;
}

.topCon div img {
  width: 18vw;
  padding-left: 2px;
  padding-right: 2px;
}

.figure {
  display: inline;
  /* background-color: wheat; */
  box-sizing: border-box;
  margin: 0;
}

figcaption {
  display: inline;
}

ul {
  list-style: none;
  color: white;
  font-size: 10px;
}