body {
  background-color: #d2e4fa;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#controlButtons {
  margin-top: 10px;
  margin-bottom: 10px;
}

#controlButtons button {
  width: 10vw;
  font-size: 1em;
  font-weight: bold;
  width: 10vw;
  font-size: 1em;
  border: none;
  background: #a9a9a9;
  border-radius: 3px;
  box-shadow: 1px 1px 2px;
}

.gridContainer-grid {
  background-color: white;
  padding: 2.5vw;
  width: 95vw;
  display: grid;
}

.gridContainer-42 {
  background-color: black;
  padding: 2.5vw;
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(30, calc(95vw / 30));
  grid-template-rows: repeat(30, calc(95vw / 30));
  row-gap: none;
}

.gridContainer-42 div {
  padding: 1vw;
}

.gridContainer-42 div:nth-child(-n + 10) {
  grid-column: span 6;
  grid-row: span 6;
}

.gridContainer-42 div:nth-child(n + 11):nth-child(-n + 22) {
  grid-column: span 5;
  grid-row: span 5;
}

.gridContainer-42 div:nth-child(n + 23) {
  grid-column: span 3;
  grid-row: span 3;
}

.gridCell {
  padding: 1vw;
}

.gridCell div {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
}

.gridCell42 div {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
}

#searchBoxContainer-hidden {
  display: none;
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: transparent;
  overflow: auto;
}

#searchBoxContainer-show {
  display: "";
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: transparent;
  overflow: auto;
}

#titleList {
  font-size: 0.8em;
  background-color: black;
  padding: 2.5vw;
  font-weight: 700;
}

.titleList-show {
  display: "";
}

.titleList-hidden {
  display: none;
}

#titleContainer li {
  padding-left: auto;
  padding-right: auto;
}

#options {
  font-size: 1.5em;
  margin-top: 10px;
}

#options button {
  font-size: 0.8em;
  margin: 0 0.8vw;
  border: none;
  background: #a9a9a9;
  border-radius: 3px;
  box-shadow: 1px 1px 2px;
}

#formContainer {
  margin-bottom: 10px;
}

#formContainer form input[type="input"] {
  border-style: solid;
  font-weight: bold;
  background-color: #f0f8ff;
  margin-top: 5px;
}

#formContainer form input[type="text"] {
  border-style: solid;
  border-width: medium;
  border-color: #000;
  font-weight: bold;
}

#formContainer form select {
  border-style: solid;
  border-width: medium;
  border-color: #000;
  font-weight: bold;
  margin-top: 5px;
}

li::marker {
  content: none;
}

li::before {
  content: "💿";
  position: relative;
  padding-right: 1em;
}

ul {
  color: white;
  padding: 0;
  list-style: none;
}

h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.columnControl input {
  width: 10vw;
  text-align: center;
}

.columnControl p {
  margin-top: 0.2em;
}

#manual {
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
}
